* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}
.chat-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #075e54;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 1;
}

.chat-header h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.title{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #09443d;
    color:#dcf8c6;
    border-radius: 20px;
    left: 10px;
    top: 4.5px;
}
.nav a{
    position: absolute;
    display:flex;
    float: right;
    padding: 5px;
    border-radius: 20px;
    background-color: #09443d;
    right: 20px;
    top: 10px;
    text-decoration: none;
    color: #dcf8c6;
}
.nav a:hover{
    background-color: #48b6a9;
    color: black;
    
}

.chat {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
	background-image: url(./img/fondo.jpg);
}

#conversation {
  flex-direction: column-reverse;
  min-width: 50%;
  max-width: 50%;
}
#conversation li {
	margin-bottom: 10px;
}
#input-container {
	display: flex;
	align-items: center;
   
}
.message-out .message-text {
        max-width: 80%; 
        text-align: right;
      }
.message-in {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
.message-in .message-avatar {
        margin-right: 10px;
      }
      
.message-out {
        display: flex;
        align-items: center;
        justify-content: flex-end;  /* Esto alinea a la derecha el contenido */
        margin-bottom: 10px;
      }
      
      .message-out .message-text {
        max-width: 80%; /* ajusta el valor según tu preferencia */
        text-align: right; 
      }
      

#message-input {
        color: #fff;
        flex-grow: 1;
        height: auto;
        border-radius: 10px;
        border: none;
        padding: 10px;
        background-color: rgb(58, 68, 65);
        max-height: 200px;  /* Esto limita la altura máxima de la caja */
        overflow-y: auto;  /* Esto permite que la caja de texto tenga un scrollbar cuando se llena de contenido */
      }
#send-button {
        content: "send"; /* nombre del icono de Material Icons */
        font-family: 'Material Icons'; /* fuente de iconos de Material Icons */
        font-weight: normal;
        font-style: normal;
        font-size: 20px; /* tamaño del icono */
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: white;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: #128c7e;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
}

.chat-message {

    display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

  .chat-message p.timestamp {
    margin-left: 10px;
    
  }

p{
    text-align: left;
    height: auto;
    padding: 5px 10px 5px  10px;
    background-color: #dcf8c6;
    color :#000000;
    border-radius: 10px 2px 10px 10px;
    margin-bottom: 3px;
   
}
